<div class="m-4">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>
</div>

<form action="/answer" class="col-4">
  <div class="ms-4 input-group mb-3">
    <input type="text" name="answer" class="form-control form-control-lg" aria-label="User question" aria-describedby="button-addon2">
    <input type="submit" value="Ask" class="btn btn-primary px-3" type="button" id="button-addon2">
  </div>
</form>
